@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import url('https://fonts.googleapis.com/css?family=VT323');

*:focus{
	outline: none;
}

body {
	background-color: #CBE32D;
  margin: 0;
}

img{
	width: 200px;
	height: auto;
}

img:hover{
	width: 250px;
	height: auto;
}

ul{
	list-style-type: none;
}

input{
	font-size: 150%;
	font-family: 'VT323', monospace;
	padding-left: 2%;
	width: 300px;
	height: 40px;
	border: 3px solid #4CAF50;
  border-radius: 10px;
}


label{
	font-size: 160%;
	font-family: 'VT323', monospace;
}

.home{
  position: absolute;;
  margin: auto;
  top: 0;
  right: 89%;
  bottom: 85%;
  left: 0;
  width: 100px;
  height: 100px;
}

.home i{
  font-size:175%;
	color: white;
}

.home i:hover{
  color: #4CAF50;
}



.logo{
	position: absolute;;
  margin: auto;
  top: 80%;
  bottom: 0;
  right: 0;
  left: 75%;
  width: 14%;
  height: 12%;
}

.logo:hover{
	position: absolute;
	margin: auto;
  top: 78%;
  bottom: 0;
  right: 0;
  left: 73%;


}

.username{
	position: absolute;
  margin: auto;
  top: 0;
  bottom: 61%;
  right: 0;
  left: 0;
  width: 300px;
  height: 50px;

}

.age{
	position: absolute;
  margin: auto;
  top: 0;
  bottom: 36%;
  right: 0;
  left: 0;
  width: 300px;
  height: 50px;

}

.gender{
	position: absolute;
  margin: auto;
  top: 0;
  bottom: 11%;
  right: 0;
  left: 0;
  width: 300px;
  height: 50px;

}

.myButton{
	cursor: pointer;
	background-color: white;
	font-size: 120%;
	font-family: 'VT323', monospace;
	width: 100%;
	height: 100%;
	border: 3px solid #4CAF50;
	border-radius: 10px;
	-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.myButton:hover{
  background-color: #4CAF50;
  color: white;
  border: 4px solid white;
}

.myButton:active{
  background-color: #4CAF50;
  color: white;
  border: 4px solid #4CAF50;
}

.login{
	position: absolute;
  margin: auto;
  top: 20%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 165px;
  height: 45px;
}

.footer{
	background-color: #A8CD1B;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1%;
  padding-bottom: 1%;
	width: 100%;
}


.bottom-banner li{
  text-align: center;
  margin:1%;
	padding:5% 5% 1% 25%;
  display: inline;
  font-size: 150%;
  font-family: 'VT323', monospace;
  color: white;
}

#about{
  background-color: #A8CD1B;
  font-family: 'VT323', monospace;
  font-size: 140%;
  color: white;
  border: none;
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  transition-delay: initial;
  transform-style: preserve-3d;
}

#about:after{
  top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: #4CAF50;
	border-radius: 5px;
	content: 'Us';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

#about:hover{
  transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}

#contact{
  background-color: #A8CD1B;
  font-family: 'VT323', monospace;
  font-size: 140%;
  color: white;
  border: none;
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  transition-delay: initial;
  transform-style: preserve-3d;
}

#contact:after{
  top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: #4CAF50;
	border-radius: 5px;
	content: 'Us';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

#contact:hover{
  transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}
